.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-left: 48px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    line-height: 1.375;
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: transparent;
      pointer-events: none;
      transition: background .3s;
    }

    &:hover {
      &:before {
        background-color: var(--color-primary);
      }
    }
  }

  &__toggle {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    display: none;
    align-items: center;
    justify-content: center;
  }

  &__lines {
    position: relative;
    z-index: 6;

    &,
    &:before,
    &:after {
      height: 2px;
      border-radius: 2px;
      background-color: var(--color-primary);
      display: block;
      transform: rotate(0);
      width: 16px;
      transition: transform 0.3s, width 0.3s;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
    }

    & {
      width: 12px;
    }

    &:before {
      transform: translateY(-6px);
    }

    &:after {
      transform: translateY(6px);
    }
  }

  @media (max-width: 991px) {
    position: relative;

    &__toggle {
      display: flex;
    }

    &__list {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 3;
      transform: translateX(100%);
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 80px 24px 60px;
      width: 100%;
      height: 100%;
      text-align: center;
      background: var(--color-primary);
      opacity: 0;
      visibility: hidden;
      overflow-y: auto;
      transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    }

    &__item {
      &:not(:first-child) {
        margin-top: 32px;
        margin-left: 0;
      }
    }

    &__link {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    &--active &__toggle {
      z-index: 3;
    }

    &--active &__list {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }

    &--active &__lines {
      height: 0;

      &:before,
      &:after {
        background-color: #fff;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}